body{
	max-width: 700px;
	width: 80%;
	border: #bdc3c7 20px solid;
	padding: 20px; 
	margin: 20px auto;
	font-family: 'Source Sans Pro', sans-serif;
	font-style: bold;
}
h3{
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 5px;
}
div p:nth-of-type(1) {
	border-left: #bdc3c7 2px solid;
	padding-left: 5px;
}
hr{
	c
}