img{
	float: left;
	width:30%;
	margin: 1.66%;
}
p{
	padding-bottom: 20px;
	font-size: 28px;
	font-weight: 800;
	text-transform: uppercase;
	margin-left: 1.66%;
	font-family: raleway;
	border-bottom: 2px solid #f1f1f1;
	width:30%;
}